:root {
  --primary: #1888ff;
}

.btn {
  padding: 8px 20px;
  border-radius: 90px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  background-color: var(--primary);
}

.btn:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background-color: rgb(21, 21, 185);
  color: #fff;
  border-radius: 0px;
  border: 2px solid var (var(--primary));
}
